/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Inter Medium */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Inter SemiBold */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Inter Bold */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* You can now use the Inter font in your CSS by referring to its family name */
form {
  font-family: "Inter", sans-serif;
}

/* Default Label styling */
label {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d3748;
}

/* Default Input container styling */
/* Assuming the parent div of input fields and textareas as input container. */
div {
  margin-top: 0.625rem;
}

/* Default Input field styling */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.875rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #2d3748;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(229 231 235);
  border-radius: 0.375rem;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

/* Default Placeholder text styling */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: #a0aec0;
  font-family: "Inter", sans-serif;
}

/* Default Input focus styling */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06),
    0 0 0 2px rgba(79, 70, 229, 0.8);
}

/* Default Textarea specific styling */
textarea {
  resize: vertical;
  min-height: 64px; /* Roughly equal to 4 rows */
}

/* Default Button styling */
button {
  color: #ffffff;
  background-color: rgb(79, 70, 229);
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  font-family: "Inter", sans-serif;

  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  transition: background-image 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  cursor: pointer;
}

/* Button Hover styling */
button:hover {
  background-image: linear-gradient(to bottom right, #4299e1, #3182ce, #2c5282);
}

/* Button Focus styling */
button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(99, 179, 237, 0.5);
}

/* Dark mode Button Focus styling - optional, only needed if you're implementing dark mode */
@media (prefers-color-scheme: dark) {
  button:focus {
    box-shadow: 0 0 0 0.25rem rgba(30, 58, 138, 0.5);
  }
}

/* Styles for label */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568;
  font-family: "Inter", sans-serif;
}

/* Styles for select */
select {
  background-color: #f8fafc;
  border: 1px solid #d2d6dc;
  color: #4a5568;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.625rem;
  font-family: "Inter", sans-serif;
}

select:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06),
    0 0 0 2px rgba(79, 70, 229, 0.8);
}
